{% extends 'base.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
    <h1>Transactions Page</h1>
    <hr />

    <form>
        <input type="text" name="search" placeholder="Search transactions" value="{{ search_query }}">
        <input type="submit" value="Search">
        <a href="{{ url_for('export_transactions', search=search_query) }}" class="btn btn-primary">Export to PDF</a>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Supplier Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
                <td>{{ transaction[3] }}</td>
                <td>{{ transaction[4] }}</td>
                <td>{{ transaction[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        {% if page > 1 %}
        <a href="{{ url_for('transactions', page=page-1, search=search_query) }}">Previous</a>
        {% endif %}
        <span>Page {{ page }} of {{ total_pages }}</span>
        {% if page < total_pages %}
        <a href="{{ url_for('transactions', page=page+1, search=search_query) }}">Next</a>
        {% endif %}
    </div>
{% endblock %}